body{
    margin: 0;
    background: linear-gradient( rgba(5, 7, 12, 0.75),
     rgba(5, 7, 12, 0.75)),
      url(ima2.jpeg) no-repeat center center fixed;
     background-size: cover;
}

/* ✅ TEXTO BLANCO EN TODO .contenedor3 Y SU CONTENIDO */
.contenedor3,
.contenedor3 h1,
.contenedor3 h2,
.contenedor3 h3,
.contenedor3 p,
.contenedor3 a,
.contenedor3 div {
    color: rgb(255, 255, 255);
   

}



.contenedor{
    display: grid;
    grid-template-columns: repeat(6, minmax(100px,1fr));
    grid-template-rows: repeat(11, minmax(50px,1fr));
    gap: 2px;
    color: whitesmoke;
}

.encabezado{
    grid-column-start: 1;
    grid-column-end: 7;   
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(6, minmax(50px,1fr));
    grid-template-rows: 1fr;
    background-color: rgb(218, 129, 218);
}

.a1,.a2,.a3,.a4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.a1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.a2{
    border-radius: 10px;
}
.a3{
    border-radius: 10px;
}
.a4{
    border-radius: 10px;
}
.a1:hover{
    background-color: rgb(30, 255, 0);
}
.a2:hover{
    background-color: rgb(17, 255, 0);
}
.a3:hover{
    background-color: rgb(9, 255, 0);
}
.a4:hover{
    background-color: rgb(47, 255, 0);
}
.cuerpo1{
    display: flex;
    align-items:center;
    justify-content: center; 
    height: 100vh;
    text-align: center;
    flex-direction: column;
   grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 11;
}


a{
    text-decoration: none;
    color: white;
}

.contenedor2{
    width: 100vw;
    margin: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill,300px);
    grid-auto-rows: 300px;
    min-height: 80%;
    background: linear-gradient( rgba(0, 0, 0, 0.75),
     rgba(0, 0, 0, 0.75)),
      url(ima2.jpeg) no-repeat center center fixed;
     background-size: cover;
}
.item{
    border-radius: 10px;
    text-align: center;
}
.tarjeta{
    border-radius: 30px;
    width: 100%;
    height: 50%;
    box-shadow: 0 10px 10px rgba(64, 0, 255, 0.2);
}
.contenedor3{
    width: 100vw;
    margin: auto;
    height: 100%;
    
}
h1{
    background-color: brown;
     display: flex;
    align-items:center;
    justify-content: center; 
}
.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.videoo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pie{
    background-color: rgb(218, 129, 218);
    grid-column-start: 1;
    grid-column-end: 7;
}
